@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@font-face {
  font-family: 'Input Font';
  src: url('../fonts/InputMono-Regular.woff2') format('woff2'),
    url('../fonts/InputMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, h1, h3, a, p {
  /* font-family: "Input Font", sans-serif; */
  font-family: 'Roboto Slab',Georgia,Times,serif;
  background-color: #fff5db;
  font-weight: 300 !important;

}

html {
  font-family: 'Roboto Slab',Georgia,Times,serif;
  font-weight: 300 !important;
}
